.editable {
	width: 100%;
}

.editable_display {
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.editable_display:hover {
	background-color: #ccc;
	transition: 200ms;
}

.editable_edit {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.editable_edit input {
	border-radius: 3px;
	outline: none;
	border: 1px solid #1379ec;
	padding: 10px;
	font-size: 16px;
}

.editable_edit_footer {
	display: flex;
	gap: 10px;
	align-items: center;
}

.editable_edit_footer button {
	outline: none;
	border: none;
	color: #fff;
	background-color: #1379ec;
	transition: 200ms;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
}

.editable_edit_footer button:hover {
	background-color: #0761d1;
}

.editable_edit_footer svg {
	cursor: pointer;
}
