.app {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	/* Navbar and app_outer will be flexed along columns */
}

.app_navbar {
	width: 100%;
	padding: 20px 30px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.app_outer {
	flex: 1;
	/* Using above line, content inside "app.outer" will be stretched */
	width: 100%;
	overflow-x: auto;
	/* Above deals with overflow i.e if needed will provide scroll instead of overflow*/
}

.app_boards {
	height: 100%;
	padding: 20px;
	padding-bottom: 4px;
	min-width: fit-content;
	display: flex;
	gap: 30px;
}

.app_boards_board {
	min-width: 290px;
	width: 290px;
}

.app_boards_board_add {
	width: 100%;
	background-color: #f8f8f8;
	border-radius: 5px;
	box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.15);
}

.app_boards_board_add:hover {
	box-shadow: 1px 2px 0px 1px #ccc;
}
